/* reduce theme's large space between line numbers and code */
.highlight pre {
    padding-right: 0px;
}

/* background color for monokai chroma theme */
.chroma, .chroma > * {
    background-color: #272822;
}

/* background color for monokai chroma theme */
.chroma .err {
    background-color: #272822;
}

/* a hack to prevent column of numbers from scrolling horizontally in Safari */
.chroma .lnt {
    padding-right: 0;
    margin-right: 0;
    padding-left: 0;
    margin-left: 0;
}
