.hljs {
  background: #272822;
  padding: 0;
}

.hljs-ln td {
  padding-right: 0px;
  padding-left: 15px;
}

.hljs-ln-n {
  text-align: right;
}

.highlight pre.external {
  border-radius: 0px;
  padding-left: 0px;
}

pre.chroma code.external {
  margin-bottom: -31px;
  padding-top: 15px;
  padding-bottom: 20px;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
}

.hljs,
.hljs-tag,
.hljs-subst {
  color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
  color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
  color: #a6e22e;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
  color: #66d9ef;
}

.hljs-symbol,
.hljs-attribute {
  color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
  color: #e6db74;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #75715e;
}

.hljs-literal {
  color: #66d9ef;
}

.hljs-regexp {
  color: #e6db74;
}

.hljs-params {
  color: #a6e22e;
}

.hljs-built_in {
  color: #a6e22e;
}

/* In Pygments theme this is mostly: #a6e22e*/
.hljs-ln-code {
  color: #a6e22e;
}

.hljs-ln-code .p {
  color: #ffffff;
}

.hljs-operators {
  color: #f92672;
}

.hljs-brackets {
  color: #ffffff;
}

.hljs-punctuation {
  color: #ffffff;
}
