{{ partial "schema.html" . }}
{{ if .Site.Author.name -}}
<meta name="author" content="{{ .Site.Author.name }}">
{{- end }}
{{ with (or .Params.description .Site.Params.description) -}}
<meta name="description" content="{{ . }}">
{{ end -}}
{{ range .Params.css -}}
<link rel="stylesheet" href="{{ . | absURL }}" type="text/css">
{{ end -}}
{{ range .Params.js -}}
<script src="{{ . | absURL }}"></script>
{{ end -}}
<script defer src="https://analytics.us.umami.is/script.js" data-website-id="50bcd284-710b-48fb-888c-d1077872c3ba"></script>
